#experience {

    .text-yellow {
        color: #ffca05;
    }

    .text-lucent {
        background-color: #4ebeb7;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}