// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-200: #eee;
$gray-800: #414141;
$gray-900: #212121;

// Override Bootstrap color system

$black: #101010;
$red: #d50000;
$orange: #c30000;
$yellow: #d1d400;
$teal: #008080;
$blue: #09c;
$purple: #600b5f;


// Override Bootstrap default state colors

$primary: $black;
